-i https://pypi.org/simple
attrs==22.1.0 ; python_version >= '3.5'
exceptiongroup==1.0.4 ; python_version < '3.11'
iniconfig==1.1.1
joblib==1.2.0 ; python_version >= '3.7'
numpy==1.23.5
outliers-nerdward==0.4
packaging==22.0 ; python_version >= '3.7'
pluggy==1.0.0 ; python_version >= '3.6'
pytest==7.2.0
scikit-learn==1.2.0
scipy==1.9.3 ; python_version >= '3.8'
threadpoolctl==3.1.0 ; python_version >= '3.6'
tomli==2.0.1 ; python_version < '3.11'
